//  Using BEM (Block__Element__Modifier) format
 .signin__wrapper__formWrap__socialSignIn{

      margin: .5rem auto 0;

    }
    .links{
      display: block;
      width: 100%;
      margin: 1.5rem auto 0;
      a{
        color: black;
      }
    }
